.capsules-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.capsules-section img{
    width: 100%;
}

@media screen and (min-width: 1400px ) {
    .capsules-section{
        grid-template-columns: 700px repeat(2, auto);
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-flow: column;
    } 

    .capsules-section a:nth-child(1){
        grid-column:1 ;
        grid-row: span 2 / span 2;
    }
    
    
    .capsules-section img{
        height: 100%;
    }
    
   
}