@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Calisto Italic" ;
    src: url("./fonts/Calisto/CALISTI.TTF");
}

@font-face {
    font-family:  "Calisto Italic Bold";
    src: url("./fonts/Calisto/CALISTBI.ttf");
}